@import "~bootstrap/scss/functions";
@import '~bootstrap/scss/mixins/hover';
@import '~bootstrap/scss/variables';

$navbar-green-color : #16ab39;
$navbar-green-focus-color : #13C813;
$white-color: #ffffff;

.navbar-green {
  .navbar-brand {
    color: $navbar-green-color;

    @include hover-focus {
      color: $navbar-green-focus-color;
    }
  }

  .navbar-nav {
      .dropdown-item {
         color: $navbar-green-color;

        @include hover-focus {
          color: $white-color;
          background-color: $navbar-green-focus-color;
        }
    }
  }

  .navbar-toggler {
    color: $navbar-green-focus-color;
    border-color: $navbar-green-focus-color;
  }

  .navbar-toggler-icon {
    color: $navbar-green-color;
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-green-focus-color;
  }
}